<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="hospital-navbar"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-7 mb-2 mb-md-0">
        <a th:href="@{/hospital/main}" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="hospital-logo" src="/img/logo4-2.png" alt="EUNGAE LOGO">
        </a>
    </div>

    <nav>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-regular fa-hospital"></i> 병원정보</button>
            <div class="dropdown-content">
                <a th:href="@{/hospital/profile}">병원 상세</a>
                <a th:href="@{/hospital/schedule}">병원 영업 시간</a>
            </div>
        </div>
        <div class="dropdown doctor-info">
            <button class="dropbtn"><i class="fa-solid fa-stethoscope"></i> 의사정보</button>
            <div class="dropdown-content">
                <a th:href="@{/hospital/doctors/}">의사 상세</a>
                <a th:href="@{/hospital/doctors/form}">의사 등록</a>
            </div>
        </div>
    </nav>
    <div class="col-md-2 text-end logout-btn">
        <button type="button" th:href="@{/logout}" class="btn btn-outline-dark me-2">로그아웃</button>
    </div>
</header>
</body>
</html>