@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

.table-container {
    margin-bottom: 1px;
    width: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 1.5em;
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th {
    text-align: left;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #142C47;
}

td,
th {
    padding: 1em .5em;
    vertical-align: middle;
}

.tb-center {
    text-align: center;
}

td {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
}

.visited {
    color: #c8cbcf;
}

/* tbody 하위의 tr에 마우스 호버 시 색상 변경 */
tbody tr:hover {
    background-color: #e5e5e5;
}

a {
    color: #73685d;
}

button {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.calender {
    padding: 6px;
    border-radius: 3px;
}

.visited-check {
    font-size: 15px;
    display: inline-block;
    background-color: #ffffff;
    color: #333;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}


#on-site-modal-btn {
    float: right;
    background-color: #142C47;
    color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 3px;
}

@media all and (max-width: 768px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    th {
        border-bottom: 1px solid #a39485;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }
}

.doctor-commute-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
}

.doctor-img-text {
    padding: 0.7rem;
}

.doctor-on-off {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.doctor-list {
    display: inline-block;
}

.bg-green {
    background-color: #9bdc56
}

.doctor-on-off > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 3px #c3c3c3);;
    margin: 4px 0px;
}

.visited-check:hover {
    color: #fff;
    background-color: #142C47;
    border-color: #142C47;
}

/* 예약 테이블 헤더 */
#date {
    float: left;
    border: 1px solid #ccc;
}

#on-site-modal-btn:hover {
    color: #142C47;
    background-color: #fff;
    border-color: #142C47;
}

/* 현장등록 모달창  */
#on-site-registration {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#modalContent {
    background-color: #ffffff;
    width: 450px;
    height: 520px;
    padding: 2%;
}

#on-site-registration.hidden {
    display: none;
}

#visited-send,
#modalCloseButton {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

#visited-send:hover,
#modalCloseButton:hover {
    color: #fff;
    background-color: #142C47;
}

.modal-send-btn {
    margin-top: 2rem;
    text-align: center;
}

.modal-page-content {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-page-sub__title {
    font-size: 1.1rem;
    color: #333;
}

.modal-page__input > input {
    border: solid 1px #ccc;
    width: 90%;
    border-radius: 6px;
    height: 2.6rem;
}

.modal-page {
    margin-top: 2.5em;
}

/* 예약 상세정보 모달창  */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 다른 요소 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 스크롤바 추가 */
    background-color: rgba(0,0,0,0.4); /* 반투명 배경 */
}

/* 모달 내용 스타일 */
.modal-contents {
    background-color: #fefefe;
    margin: 15% auto; /* 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 너비 */
}

/* 닫기 버튼 스타일 */
.closing-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closing-button:hover,
.closing-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.appointment-record:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.modal-content {
    background-color: #fefefe; /* 백색 배경 */
    margin: 15% auto; /* 상하 마진으로 중앙 정렬, 좌우는 자동 */
    padding: 20px; /* 내부 여백 */
    border: 1px solid #888; /* 테두리 */
    width: 50%; /* 모달 너비 */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
    border-radius: 5px; /* 모서리 둥글게 */
    z-index: 3; /* 다른 요소 위에 표시 */
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa; /* 회색 텍스트 */
    float: right; /* 우측 정렬 */
    font-size: 28px; /* 폰트 크기 */
    font-weight: bold; /* 글씨 굵기 */
}

.close:hover,
.close:focus {
    color: black; /* 호버 시 검은색 */
    text-decoration: none; /* 밑줄 없음 */
    cursor: pointer; /* 커서 변경 */
}
.modal-content {
    display: flex;
    flex-direction: row; /* 수평 정렬 */
    justify-content: space-between;
    width: 600px;
}

.modal-info {
    flex-grow: 1; /* 텍스트 영역 확장 */
    text-align: left;/* 이미지와의 간격 */
}
.modal-right-section {
    text-align: right;
}

#modalProfileImage {
    width: 120px;
    height: 123px;
    object-fit: cover;
    margin-right:11px;
}
.modal-footer{
    align-self: flex-end; /* 오른쪽 정렬 */
    margin-top: 168px; /* 상단 콘텐츠와의 간격 조정 */
}
