<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <title>로그인 - 응애 | 병원페이지</title>
    <style>
        .gradient-custom {
            background: linear-gradient(to right, rgb(53, 60, 86), rgb(190, 211, 239))
        }
        .error {
            color: #b24e4e;
        }
        .login-form {
            background-color: #fff;
            border-radius: 8px;
        }
        .full {
            background-color: #ececec;
        }
    </style>
</head>
<body>
<main class="full">
    <section class="d-flex vh-100">
        <div class="container-fluid row justify-content-center align-content-center">
            <div class="card login-form" style="border: none">
                <div class="card-body p-5 text-center">
                    <img style="width: 200px" src="/img/logo4.png" alt="">
                    <h2 class="text-black">LOGIN</h2>
                    <p class="text-black mt-2 mb-5">서비스를 사용하려면 로그인을 해주세요!</p>

                    <div class="mb-2">
                        <form role="form" action="/login-proc" method="post">
                            <div class="mb-3">
                                <label for="hospitalId" class="form-label text-black">아이디</label>
                                <input type="text" id="hospitalId" name="hospitalId" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label text-black">비밀번호</label>
                                <input type="password" id="password" name="password" class="form-control">
                            </div>

                            <p type="hidden" th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>

                            <button type="submit" class="btn btn-primary">로그인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>