<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <link rel="stylesheet" href="/css/doctor-list.css">
    <title>응애 - 병원 메인</title>
</th:block>

<body>
<main layout:fragment="hospital_content">
    <div class="doctor-list-title">
        <h3>우리 병원 의료진 <i class="fa-solid fa-stethoscope"></i></h3>
    </div>
    <hr>
    <div class="doctor-list-body">
        <div class="flip-card" th:each="doctor:${doctorList}">
            <input type="hidden" class="doctorSeq" th:value="${doctor.doctorSeq}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img th:if="${doctor.doctorProfileImage eq null}" th:src="@{/img/doctor.jpeg}"
                         alt="Basic Doctor Image"/>
                    <img th:unless="${doctor.doctorProfileImage eq null}"
                         th:src="@{/images/} + ${doctor.doctorProfileImage}"
                         alt="Doctor Image"/>
                </div>
                <div class="flip-card-back">
                    <h3 class="doctor-name" th:text="${doctor.name}">홍지혜 의사</h3>
                    <p>진료 가능 인원 <span class="middle-line"> | </span> <span th:text="${doctor.treatmentPossible}"></span>명
                    </p>
                    <p>예약 현황 <span class="middle-line"> | </span> <span th:text="${doctor.currentAppointment}"></span>명
                    </p>
                    <div class="doctor-btn">
                        <button type="button" class="btn btn-info"><a
                                th:href="@{/hospital/doctors/{doctorSeq}/form(doctorSeq=${doctor.doctorSeq})}">수정하기</a>
                        </button>
                        <form id="deleteForm"
                              th:action="@{/hospital/doctors/{doctorSeq}(doctorSeq=${doctor.doctorSeq})}" method="get">
                            <button type="submit" class="btn btn-light"
                                    th:attr="onclick='alertDelete(' + ${doctor.currentAppointment} + ', event);'">삭제하기
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div layout:fragment="hospital_custom_js">
    <script src="/js/doctor-list.js"></script>
</div>
</body>
</html>