<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <link rel="stylesheet" href="/css/hospital-admin-doctor-form.css">
    <title>응애(병원) - 의사 등록</title>
</th:block>

<body>
<main layout:fragment="hospital_content">
    <form th:action="@{/hospital/doctor}"
          th:object="${doctorRequestDto}"
          method="post"
          enctype="multipart/form-data"
          id="doctorForm">
        <div id="profilePictureContainer" class="profile-picture-container" onclick="selectImage()">
            <input type="file" id="file-input" name="profileImage" accept="image/*" style="display: none;" onchange="previewImage(event);">
            <img id="preview" src="/img/doctor.jpeg" alt="Thumbnail">
            <div class="change-text">사진 바꾸기</div>
        </div>

        <label for="name">이름</label>
        <input type="text" id="name" th:name="name" required>
        <p th:if="#{#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>

        <label for="treatmentPossible">30분당 진료 가능 환자</label>
        <input type="number" th:field="*{treatmentPossible}" class="treatmentPossible"  id="treatmentPossible" name="treatmentPossible"
               placeholder="숫자만 입력하세요."
               required>
        <p th:if="#{#fields.hasErrors('treatmentPossible')}" th:errors="*{treatmentPossible}" class="fieldError"></p>

        <button class="submit-btn" type="submit">등록</button>
    </form>
</main>
<div layout:fragment="hospital_custom_js">
    <script src="/js/doctor-add.js"></script>
</div>
</body>
</html>