<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <link rel="stylesheet" href="/css/hospital-schedule-update.css">
    <title>응애 - 병원 스케쥴 수정</title>
</th:block>

<body>
<main layout:fragment="hospital_content">
    <form th:object="${hospitalScheduleViewDto}" action="/hospital/schedule/form" method="post">
        <div class="hospital-schedule-title">
            <h3>영업 시간 관리</h3>
        </div>
        <div class="hospital-schedule-guide">
            <p>
                병원 영업 시간을 입력해주세요.<br />
                시, 분을 함께 입력해주세요.
                <span class="ex">ex&#41; 9시 -> 0900</span><br />
                24:00 형태로 입력해주세요.
                <span class="ex">ex&#41; 오후 6시 30분 -> 1830</span><br />
                휴무일인 경우 OPEN, CLOSE에 모두 0000으로 입력해주세요.
                <span class="ex">ex&#41; 0000, 0000</span>
            </p>
        </div>
        <div class="hospital-schedule-table">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>월요일</th>
                    <th>화요일</th>
                    <th>수요일</th>
                    <th>목요일</th>
                    <th>금요일</th>
                    <th class="sat">토요일</th>
                    <th class="sun">일요일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="open-title">OPEN</td>
                    <td><input type="text" name="monOpen" th:value="${hospitalScheduleViewDto.monOpen}" th:placeholder="${hospitalScheduleViewDto.monOpen}"/></td>
                    <td><input type="text" name="tueOpen" th:value="${hospitalScheduleViewDto.tueOpen}" th:placeholder="${hospitalScheduleViewDto.tueOpen}"/></td>
                    <td><input type="text" name="wedOpen" th:value="${hospitalScheduleViewDto.wedOpen}" th:placeholder="${hospitalScheduleViewDto.wedOpen}"/></td>
                    <td><input type="text" name="thuOpen" th:value="${hospitalScheduleViewDto.thuOpen}" th:placeholder="${hospitalScheduleViewDto.thuOpen}"/></td>
                    <td><input type="text" name="friOpen" th:value="${hospitalScheduleViewDto.friOpen}" th:placeholder="${hospitalScheduleViewDto.friOpen}"/></td>
                    <td><input type="text" name="satOpen" th:value="${hospitalScheduleViewDto.satOpen}" th:placeholder="${hospitalScheduleViewDto.satOpen}"/></td>
                    <td><input type="text" name="sunOpen" th:value="${hospitalScheduleViewDto.sunOpen}" th:placeholder="${hospitalScheduleViewDto.sunOpen}"/></td>
                </tr>
                <tr>
                    <td class="close-title">CLOSE</td>
                    <td><input type="text" name="monClose" th:value="${hospitalScheduleViewDto.monClose}" th:placeholder="${hospitalScheduleViewDto.monClose}"/></td>
                    <td><input type="text" name="tueClose" th:value="${hospitalScheduleViewDto.tueClose}" th:placeholder="${hospitalScheduleViewDto.tueClose}"/></td>
                    <td><input type="text" name="wedClose" th:value="${hospitalScheduleViewDto.wedClose}" th:placeholder="${hospitalScheduleViewDto.wedClose}"/></td>
                    <td><input type="text" name="thuClose" th:value="${hospitalScheduleViewDto.thuClose}" th:placeholder="${hospitalScheduleViewDto.thuClose}"/></td>
                    <td><input type="text" name="friClose" th:value="${hospitalScheduleViewDto.friClose}" th:placeholder="${hospitalScheduleViewDto.friClose}"/></td>
                    <td><input type="text" name="satClose" th:value="${hospitalScheduleViewDto.satClose}" th:placeholder="${hospitalScheduleViewDto.satClose}"/></td>
                    <td><input type="text" name="sunClose" th:value="${hospitalScheduleViewDto.sunClose}" th:placeholder="${hospitalScheduleViewDto.sunClose}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p th:if="${#fields.hasErrors('monOpen')}" th:errors="*{monOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('monClose')}" th:errors="*{monClose}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('tueOpen')}" th:errors="*{tueOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('tueClose')}" th:errors="*{tueClose}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('wedOpen')}" th:errors="*{wedOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('wedClose')}" th:errors="*{wedClose}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('thuOpen')}" th:errors="*{thuOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('thuClose')}" th:errors="*{thuClose}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('friOpen')}" th:errors="*{friOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('friClose')}" th:errors="*{friClose}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('satOpen')}" th:errors="*{satOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('satClose')}" th:errors="*{satClose}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('sunOpen')}" th:errors="*{sunOpen}" class="fieldError">잘못된 데이터입니다.</p>
        <p th:if="${#fields.hasErrors('sunClose')}" th:errors="*{sunClose}" class="fieldError">잘못된 데이터입니다.</p>
        <hr />
        <div>
            <div class="hospital-lunch-title">
                <p>점심시간</p>
            </div>
            <div class="hospital-lunch">
                <p class="lunch-start">
                    시작
                    <input type="text" name="lunchHour" th:value="${hospitalScheduleViewDto.lunchHour}" th:placeholder="${hospitalScheduleViewDto.lunchHour}"/>
                </p>

                <p class="lunch-end">
                    종료
                    <input type="text" name="lunchEndHour" th:value="${hospitalScheduleViewDto.lunchEndHour}" th:placeholder="${hospitalScheduleViewDto.lunchEndHour}"/>
                </p>
            </div>
        </div>
        <div class="hospital-schedule-save">
            <button
                    type="submit"
                    id="btn-update"
                    class="my-page-content save"
            >
                저장하기
            </button>
        </div>
    </form>
</main>
<div layout:fragment="hospital_custom_js">
</div>
</body>
</html>