<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="/css/hospital-update.css">
    <title>응애 - 병원 상세 수정</title>
</th:block>

<body>
<main layout:fragment="hospital_content">
    <form class="hospital-update-form" th:method="post" th:action="@{/hospital/profile/form}">
        <p class="hospital-update-title">병원 정보 수정</p>
        <div class="hospital-update">
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 ID
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="hospitalId" name="hospitalId" th:value="${hospital.hospitalId}" disabled>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 이름
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="name" name="name" th:value="${hospital.name}" required>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 연락처
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="contact" name="contact" th:value="${hospital.contact}" required>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    한 줄 소개
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="notice" name="notice" th:value="${hospital.notice}" required>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 주소
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="newAddress" name="address" th:value="${hospital.address}" required>
                </div>
            </div>
        </div>
        <div class="hospital-update-content">
            <button
                    type="submit"
                    id="btn-update"
                    class="my-page-content save"
            >
                저장하기
            </button>
        </div>
    </form>
</main>
<div layout:fragment="hospital_custom_js">
</div>
</body>
</html>