<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="/css/hospital-detail.css">
    <title>응애 - 병원 상세</title>
</th:block>

<body>
<main layout:fragment="hospital_content" method="get">
    <form class="hospital-update-form">
        <p class="hospital-update-title">우리 병원 정보</p>
        <div class="hospital-update">
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 ID
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="hospitalId" name="hospitalId" th:value="${hospital.hospitalId}" disabled>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 이름
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="name" name="name" th:value="${hospital.name}" disabled>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 연락처
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="contact" name="contact" th:value="${hospital.contact}" disabled>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    한 줄 소개
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="notice" name="notice" th:value="${hospital.notice}" disabled>
                </div>
            </div>

            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 주소
                </div>
                <div class="hospital-update__input col">
                    <input type="text" id="newAddress" name="newAddress" th:value="${hospital.address}" disabled>
                </div>
            </div>
            <div class="hospital-update-content">
                <div class="hospital-update-sub__title col-3">
                    병원 이미지
                </div>
                <div class="hospital-update__input col main-image">
                    <div class="hospital-main-image" th:unless="${hospital.hospitalImageResponseDtoList eq null}" th:each="hospitalImage:${hospital.hospitalImageResponseDtoList}">
                        <img th:src="@{/images/}+${hospitalImage.storeFileName}">
                    </div>
                </div>
            </div>
        </div>
        <div class="hospital-update-content">
            <button
                    type="button"
                    id="btn-update"
                    class="my-page-content save"
            >
                <a th:href="@{/hospital/profile/form}">정보 수정</a>
            </button>
        </div>
    </form>
</main>
<div layout:fragment="hospital_custom_js">
</div>
</body>
</html>